@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.select{
  @apply block  px-4 py-2 text-gray-700 bg-transparent border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none w-[300px]}

